<!-- A robust and totally free communication tool called OneForAll was created to improve the lives of those who have speech
and language difficulties. Our goal is to enhance communication and promote a more inclusive society by offering a full
range of alternative and augmentative communication tools.


Efficient and totally free, OneForAll is a communication tool that helps people with speech and language disabilities
live better lives. For the purpose of enhancing communication and promoting an inclusive society, we aim to offer a full
range of alternative and augmentative communication tools.


With the goal of improving the lives of people with speech and language disabilities, OneForAll is a robust and totally
free communication platform. Our goal is to improve communication and promote a more inclusive society by offering a
full range of alternative and augmentative communication tools.

Designed to improve the lives of people with speech and language disabilities, OneForAll is a robust and totally free
communication platform. Our goal is to offer a full range of alternative and augmentative communication tools to enhance
communication and promote a more inclusive society.




OneForAll provides customizable AAC solutions, text-to-speech capabilities, and symbol-based communication boards to meet your needs. Join us today to provide yourself or your loved ones the free and effective ability to communicate their needs, feelings, and thoughts.

OneForAll can provide you with bespoke AAC solutions, text-to-speech capabilities, or symbol-based communication boards. Come along today to have the freedom to effectively communicate your needs, feelings, and opinions to those you love without having to pay for it.

Whether you require text-to-speech capabilities, symbol-based communication boards, or personalized AAC solutions, OneForAll has you covered. Join us now to give yourself or your loved ones the confidence to successfully and completely free of charge communicate their needs, wants, and thoughts. -->



<section class="about">
    <h1>About Us</h1>
    <p>
        Designed to improve the lives of people with speech and language disabilities, OneForAll is a robust and totally
        free
        communication platform. Our goal is to offer a full range of alternative and augmentative communication tools to
        enhance
        communication and promote a more inclusive society.</p>
    <p>OneForAll can provide you with bespoke AAC solutions, text-to-speech capabilities, or symbol-based communication
        boards. Come along today to have the freedom to effectively communicate your needs, feelings, and opinions to
        those you love without having to pay for it.</p>
</section>

<section class="team">
    <h1>Our Team</h1>

    <div id="about">
        <img class="right image1"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpWIUTEbl3Km2gu10Jsib39To4S4IYsn8QhA&usqp=CAU"
            alt="Concert scene" />
        <h2>Name</h2>

        <p>
            About team member
        </p>

    </div>

    <div id="about">
        <img class="left image2"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpWIUTEbl3Km2gu10Jsib39To4S4IYsn8QhA&usqp=CAU"
            alt="Concert scene" />
        <h2>Name1</h2>

        <p>
            About team member
        </p>

    </div>

    <div id="about">
        <img class="right image3"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpWIUTEbl3Km2gu10Jsib39To4S4IYsn8QhA&usqp=CAU"
            alt="Concert scene" />
        <h2>Name2</h2>

        <p>
            About team member
        </p>

    </div>
    <div id="about">
        <img class="left image4"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpWIUTEbl3Km2gu10Jsib39To4S4IYsn8QhA&usqp=CAU"
            alt="Concert scene" />
        <h2>Name3</h2>

        <p>
            About team member
        </p>

    </div>
    <div id="about">
        <img class="right image5"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpWIUTEbl3Km2gu10Jsib39To4S4IYsn8QhA&usqp=CAU"
            alt="Concert scene" />
        <h2>Name4</h2>

        <p>
            About team member
        </p>

    </div>
    <div id="about">
        <img class="left image6"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpWIUTEbl3Km2gu10Jsib39To4S4IYsn8QhA&usqp=CAU"
            alt="Concert scene" />
        <h2>Name5</h2>

        <p>
            About team member
        </p>

    </div>

</section>